body {
    background-color: #add8e6;
    font-family: sans-serif;
}

.container {
    border-radius: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background-color: #005377;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

header {
    text-align: center;
    margin: 0 auto;
}

header h1 {
    font-size: 48px;
}

header p {
    font-size: 24px;
}

#converter {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}


.tempInput {
    margin-bottom: 2em;
}

input {
    padding: 6px;
    border-radius: 60px;
}

label {
    display: block;
    text-align: center;
    font-size: 32px;
    padding-bottom: 0.5em;
    font-weight: bold;
    margin: 0 auto;
}

.button {
    margin-bottom: 2em;
    margin-top: 0.5em;
    display: flex;
}

button {
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    width: 30%;
    font-size: 28px;
    border-radius: 60px;
}

